.about {
    height: 100%;
    background-color: #f9f9fb;
    padding-bottom: 50px;
  
    &__title {
      color: #50e3c2;
      font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
    }
  
    &__text {
      margin-top: 20px;
      color: #6a88bd;
      font-size: 20px;
    }
  }
  